
* { 
	box-sizing: border-box; 
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;
}


main {
	display: flex;
	flex-direction: row;
}
section {
	border: inset #333 thin;
	padding: 1em;
}

.animals section {
	background-color: lightblue;
}
.minerals section {
	background-color: pink;
}
.vegetables section {
	background-color: lightyellow;
}

@media (max-width: 749px) {
	main {
		flex-direction: column;
	}
	
}

 